.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #887878;
  position: relative;
}

.header__menu-icon {
  position: absolute;
  left: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.header__title {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  width: 50%;
  float: left;
  text-align: justify;
  text-align-last: right
}



.encase {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}

.lotion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 50px;
  border-bottom: 1px solid rgb(236, 222, 222);
  padding: 10px;
}

.lotion-header h1 {
  font-size: 2rem;
  margin: 0;
}

.lotion-header h3 {
  font-size: 1rem;
  margin: 0;
  color: #836565;
}

.lotion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.lotion-header button {
  font-size: xx-large;
  margin: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.lotion-header button:hover {
  background-color: #f5b678;
  color: rgb(240, 218, 218);
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid rgb(218, 192, 192);
  width: 25%;
}

.sidebar button {
  background-color: transparent;
  font-size: x-large;
  border-color: transparent;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #fca460;
  color: rgb(210, 191, 191);
}

.sidebar-heading {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 204, 204);
}

.sidebar-heading h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.sidebar-notes {
  height: calc(100vh - 78px);
}

.sidebar-note {
  padding: 25px;
  cursor: pointer;
}

.sidebar-note-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.sidebar-note small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  display: block;
  color: gray;
}

.sidebar-note-preview {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 10px 0;
}

.sidebar-note:hover {
  background: #d78212;
}

.sidebar-note:hover .sidebar-note-title {
  color: rgb(174, 166, 166);
}

.sidebar-note:hover .sidebar-note-preview {
  color: rgb(190, 178, 178);
}

.main-notes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 74%;
}

.main-notes-heading {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(214, 196, 196);
  align-items: center;
}

.main-notes h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;

}

.main-notes p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  color: rgb(161, 153, 153);
  font-size: x-small;
}

.main-notes-buttons {
  margin-left: auto;
}
.main-notes-buttons button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 5px;
  width: 60px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-notes-buttons button:hover {
  background-color: #ebbd73;
  color: white;

}

.main-notes-content {
  height: 50vh;
}


.sidebar-hidden {
  display: none;
}

.no-active-note {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

.note-textbox {
  width: 100rem;
  height: 100rem;
  border: 1px ;
}

.quill {
  height: 300px;
}

.note-title {
  width: 100%;
  font-size: 30px;
  border: transparent;
}

.datetime-header {
  border: transparent;
}

.empty {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 25px;
  color: gray;
}


.sb-empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid lightgray;
  width: 25%;
}

.sb-empty button {
  background-color: transparent;
  font-size: x-large;
  border-color: transparent;
  cursor: pointer;
}

.sb-empty button:hover {
  background-color: #f7bc74;
  color: white;
}

.sb-empty-heading {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.sb-empty-heading h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#title {
  width: 100%;
  font-size: 30px;
  border: transparent;
}